{{> head }}
{{> navbar}}

<div class="row">

<div class="col-8">
    <h1>Crazy Daniela Fanirla</h1>
    <p>
        Daniela es una niña que le falla la cabeza de vez en cuando, pero en el fondo es buena persona.
    </p>

</div>

<div class="col-4">
    <img src="assets/img/crazy.jpg" alt="Imagen" class="img-thumbnail">

</div>


</div>

{{>footer}}
